{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}
<div id="sitemeter" class="hidden">
  <script type="text/javascript" src="http://s50.sitemeter.com/js/counter.js?site=s50davidvg">
  </script>
  <noscript>
    <p>
      <a href="http://s50.sitemeter.com/stats.asp?site=s50davidvg">
        <img src="http://s50.sitemeter.com/meter.asp?site=s50davidvg" alt="Site Meter" />
      </a>
    </p>
  </noscript>
</div>        
