// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

ul {
  list-style-position: inside;
}

div.archive-link {
  text-align: center;
  a {
    text-decoration: none;
    color: #AAA;
  }
}

a.no-underline {
  text-decoration: none;
}

aside.sidebar a.no-wrap {
  white-space: normal;
}

article[role="article"] header {
  padding-top: 0;
}

.centered {
  text-align: center;
}


